<div class="left_col scroll-view">

  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-paw"></i>
      <span>{{data.brandName}}</span>
    </a>
  </div>


  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
      <ul class="nav side-menu">
        <li ng-repeat="item in data.list" class="{{item.className}}">
            <a href="javascript:;" ng-click="goto(item.url, $event)">
              <i class="fa {{item.icon}}"></i>{{item.name}} 
              <span class="fa fa-chevron-down" ng-if="item.child && item.child.length"></span>
            </a>
            <ul class="nav child_menu" ng-if="item.child && item.child.length">
              <li ng-repeat="subItem in item.child" class="{{subItem.className}}">
                  <a href="javascript:;" ng-click="goto(subItem.url, $event)">{{subItem.name}}</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
          
 </div>