<div class="row bounceInRight animated" ng-controller="dashboardCtrl">
    <div class="col-lg-12 col-xs-12">
      <div class="page-title"><strong>控制面板</strong></div>
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12">
        <div  class="x_panel">
          <div class="x_title"><h5><strong>世界人口总量</strong></h5></div>
          <div class="x_content">
              <div id="chart1" class="chart">
                
              </div>
          </div>
        </div>
    </div>


    <div class="col-lg-6 col-sm-6 col-xs-12">

        <div  class="x_panel">
          <div class="x_title"><h5><strong>深圳月最低生活费组成（单位:元）</strong></h5></div>
          <div class="x_content">
              <div id="chart2" class="chart">
                
              </div>
          </div>
        </div>
    </div>
</div>
