<div class="row bounceInRight animated"  ng-controller="userEditCtrl">
    <div class="col-xs-12">
        <div class="page-title">
            用户 &gt;
            <a href="" ng-click="toPage('user/list')"> <i class="fa fa-user"></i> 用户列表</a> &gt; 
            <strong>编辑用户</strong>
        </div>
    </div>

    <div class="col-xs-12">
        <div  class="x_panel">
            <div class="x_title">编辑用户</div>
            <div class="x_content">
                <form name="userEditForm" novalidate ng-submit="doSubmit($event)">
                    <div class="form-group">
                        <label for="">ID</label>
                        <input type="text" class="form-control" value="{{data.id}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" id="name" class="form-control" ng-model="data.name" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="修改" class="btn btn-primary" ng-disabled="userEditForm.$invalid">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>