<div class="row bounceInRight animated"  ng-controller="userListCtrl">
    <div class="col-xs-12">
      <div class="page-title">用户 &gt; <strong>用户列表</strong></div>
    </div>


    <div class="col-xs-12">

        <div  class="x_panel">
            <div class="x_title">
                <h5><strong>用户列表</strong></h5>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="输入姓名搜索..." ng-keyup="search()" id="keywords">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
                            </span>
                        </div>
                    </div>
                
                    <div class="col-xs-12">
                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>姓名</th>
                                    <th width="30%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data.list | filter: filterFn"  ng-if="data.list.length > 0 && $index < data.maxinum && $index >= data.mininum">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <button class="btn btn-warning" ng-click="delete(item.id)">删除</button>
                                            <button class="btn btn-primary" ng-click="edit(item.id)">编辑</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- 添加分页  -->
                <div class="text-right" paging
                    page="0" 
                    page-size="data.pageSize" 
                    total="data.list.length"
                    paging-action="toJump(page, pageSize, total)">
                </div>


            </div>

        </div>

    </div>
</div>